.addagency-main {
	background: #fff;
	border-top: solid 2px #dee5e7;
	border-left: solid 1px #e7eaec;
	border-right: solid 1px #e7eaec;
	border-bottom: solid 1px #e7eaec;
	border-radius: 5px;
	height: calc(100vh);
	padding-top: 60px;
	padding-right: 200px;
	padding-left: 100px;
	.type {
		margin-left: 10px;
	}
}